
.columnFlex {
    width: 10px;
}

.flexhalf {
    display: flex;

}

.halfItem {
    flex: 1;
    padding: 10px;
}

.itemInline {
    display: inline-block;
    width: 140px;
    height: 60px;
    line-height: 60px;
}

.smallInline {
    display: inline-block;
    width: 70px;
    height: 60px;
    text-align: center;
    font-size: 12px;
    color: #034692FF;
    line-height: 60px;
    cursor: pointer;
    vertical-align: middle;
}

.gradeContainer {
    padding-left: 15px;
    margin-top: 10px;
}

.gradeContainer .rightSection{
    text-align: right;
}

.tabTitle {
    height: 60px;
    line-height: 60px;
    padding: 0 15px 0 10px;
}

.halfBg {
    padding: 10px;
}

.tabTitle .leftSection{
    width: 50%;
    float: left;
}

.tabTitle .rightSection{
    width: 50%;
    float: right;
    text-align: right;
}

.tabTitle .rightSection .applyBtn  span{
    /* margin-left: 10px;
    width:32px;
    height:32px;
    display: inline-block;
    border-radius: 50%;
    background:rgba(255,59,48,1); */
}

.halfClassItem {
    background: #fff;
}

.columnSection{
    background: #fff;
}

.addColumn{
    padding: 15px;
}

.columnList {
    padding: 5px 30px 30px 15px;
}
.bgcchildren{
    padding: 16px;
    background:#DFE7EE;
    border-radius:8px;
}
.bgculumns{
    padding: 24px;
    background:#fff;
}
.bgculumns .columnItem{
    margin: 0 20px 20px 0;
}
.bgculumns .columnButton {
    display: inline-block;
    background: #F1F1F1;
    border-radius: 5px;
    text-align: center;
}
.bgculumns .columnButton i{
    margin-left: 5px;
}