.managerManager .header{
    padding: 0px 30px 16px 30px;
    background: #fff;
    margin-bottom: 10px;
}
body{
    background:rgba(241,241,241,1);
}
.addButton {
    margin-top: 16px;
    background: #034692FF;
    color: #fff;
}
.el-main{
    padding-bottom: 40px;
}
.el-image{
    vertical-align: middle;
}
.quanxianList li{
    margin-bottom: 10px;
}
.permissTitle,.pemissItem{
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #E8E8E8;
}