.userNanager .el-tabs__nav-scroll{
    background: #fff;
    padding:20px 30px 16px 30px;
    font-size: 16px;
}
.userNanager  .el-tab-pane{
    background: #fff;
    padding:20px 30px 16px 30px;
}
.el-select {
    display: inline-block;
    position: relative;
    width: 100px;
    margin-top: 14px;
}
.rightSlects {
    position: absolute;
    top: 0px;
    right: 20px;

}
.seachdate{
    margin-left: 10px;
}
.el-tabs__content{
    background: #fff;
}
.tabsTop{
    padding-left: 30px;
    /* margin-bottom: 20px; */
}
.el-container{
    background:rgba(246,246,246,1);
}
